In [1]:
import pandas as pd

In [2]:
t20_df = pd.read_csv("t20_df.csv")

In [ ]:
t20_df["Team_1"] = t20_df["Team_1"].apply(lambda x: "United Arab Emirates" if x.strip()=="U.A.E." else x)
t20_df["Team_2"] = t20_df["Team_2"].apply(lambda x: "United Arab Emirates" if x.strip()=="U.A.E." else x)
t20_df["Winner"] = t20_df["Winner"].apply(lambda x: "United Arab Emirates" if x.strip()=="U.A.E." else x)

In [80]:
t20_df

,Match_Date,Match_Id,Team_1,Team_2,Winner,Margin,Ground
0,16-Oct-22,T20I # 1823,Namibia,Sri Lanka,Namibia,55 runs,Geelong
1,16-Oct-22,T20I # 1825,Netherlands,United Arab Emirates,Netherlands,3 wickets,Geelong
2,17-Oct-22,T20I # 1826,Scotland,West Indies,Scotland,42 runs,Hobart
3,17-Oct-22,T20I # 1828,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart
4,18-Oct-22,T20I # 1830,Namibia,Netherlands,Netherlands,5 wickets,Geelong
5,18-Oct-22,T20I # 1832,Sri Lanka,United Arab Emirates,Sri Lanka,79 runs,Geelong
6,19-Oct-22,T20I # 1833,Ireland,Scotland,Ireland,6 wickets,Hobart
7,19-Oct-22,T20I # 1834,West Indies,Zimbabwe,West Indies,31 runs,Hobart
8,20-Oct-22,T20I # 1835,Netherlands,Sri Lanka,Sri Lanka,16 runs,Geelong
9,20-Oct-22,T20I # 1836,Namibia,United Arab Emirates,United Arab Emirates,7 runs,Geelong
10,21-Oct-22,T20I # 1837,Ireland,West Indies,Ireland,9 wickets,Hobart
11,21-Oct-22,T20I # 1838,Scotland,Zimbabwe,Zimbabwe,5 wickets,Hobart
12,22-Oct-22,T20I # 1839,Australia,New Zealand,New Zealand,89 runs,Sydney
13,22-Oct-22,T20I # 1840,Afghanistan,England,England,5 wickets,Perth
14,23-Oct-22,T20I # 1841,Ireland,Sri Lanka,Sri Lanka,9 wickets,Hobart
15,23-Oct-22,T20I # 1842,India,Pakistan,India,4 wickets,Melbourne
16,24-Oct-22,T20I # 1843,Bangladesh,Netherlands,Bangladesh,9 runs,Hobart
17,24-Oct-22,T20I # 1844,South Africa,Zimbabwe,no result,NaN,Hobart
18,25-Oct-22,T20I # 1845,Australia,Sri Lanka,Australia,7 wickets,Perth
19,26-Oct-22,T20I # 1846,England,Ireland,Ireland,5 runs,Melbourne
20,26-Oct-22,T20I # 1846a,Afghanistan,New Zealand,abandoned,NaN,Melbourne
21,27-Oct-22,T20I # 1847,Bangladesh,South Africa,South Africa,104 runs,Sydney
22,27-Oct-22,T20I # 1848,India,Netherlands,India,56 runs,Sydney
23,27-Oct-22,T20I # 1849,Pakistan,Zimbabwe,Zimbabwe,1 run,Perth
24,28-Oct-22,T20I # 1849a,Afghanistan,Ireland,abandoned,NaN,Melbourne
25,28-Oct-22,T20I # 1849b,Australia,England,abandoned,NaN,Melbourne
26,29-Oct-22,T20I # 1850,New Zealand,Sri Lanka,New Zealand,65 runs,Sydney
27,30-Oct-22,T20I # 1851,Bangladesh,Zimbabwe,Bangladesh,3 runs,Brisbane
28,30-Oct-22,T20I # 1852,Netherlands,Pakistan,Pakistan,6 wickets,Perth
29,30-Oct-22,T20I # 1853,India,South Africa,South Africa,5 wickets,Perth
30,31-Oct-22,T20I # 1855,Australia,Ireland,Australia,42 runs,Brisbane
31,01-Nov-22,T20I # 1856,Afghanistan,Sri Lanka,Sri Lanka,6 wickets,Brisbane
32,01-Nov-22,T20I # 1858,England,New Zealand,England,20 runs,Brisbane
33,02-Nov-22,T20I # 1859,Netherlands,Zimbabwe,Netherlands,5 wickets,Adelaide
34,02-Nov-22,T20I # 1860,Bangladesh,India,India,5 runs,Adelaide
35,03-Nov-22,T20I # 1861,Pakistan,South Africa,Pakistan,33 runs,Sydney
36,04-Nov-22,T20I # 1862,Ireland,New Zealand,New Zealand,35 runs,Adelaide
37,04-Nov-22,T20I # 1864,Australia,Afghanistan,Australia,4 runs,Adelaide
38,05-Nov-22,T20I # 1867,England,Sri Lanka,England,4 wickets,Sydney
39,06-Nov-22,T20I # 1871,Netherlands,South Africa,Netherlands,13 runs,Adelaide
40,06-Nov-22,T20I # 1872,Bangladesh,Pakistan,Pakistan,5 wickets,Adelaide
41,06-Nov-22,T20I # 1873,India,Zimbabwe,India,71 runs,Melbourne
42,09-Nov-22,T20I # 1877,New Zealand,Pakistan,Pakistan,7 wickets,Sydney
43,10-Nov-22,T20I # 1878,England,India,England,10 wickets,Adelaide
44,13-Nov-22,T20I # 1879,England,Pakistan,England,5 wickets,Melbourne

In [81]:
# For mapping Match Ids with other dataframes
match_ids = dict()
for idx, row in t20_df.iterrows():
    match_ids[f'{row["Team_1"]} vs {row["Team_2"]}'] = row["Match_Id"]
    match_ids[f'{row["Team_2"]} vs {row["Team_1"]}'] = row["Match_Id"]

In [99]:
t20_df.to_csv("final_match_data.csv", index=None)

#### Batting data

In [82]:
bat_df = pd.read_csv("t20_bat_summary.csv")

In [83]:
bat_df["Match_Id"] = bat_df["Match"].map(match_ids)

In [84]:
bat_df.head(15)

,Match,Team_Innings,Batting_Pos,Batsman,Dismissal,Runs,Balls,4s,6s,SR,Match_Id
0,Namibia vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,T20I # 1823
1,Namibia vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,T20I # 1823
2,Namibia vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c †Mendis b Karunaratne,20,12,1,2,166.66,T20I # 1823
3,Namibia vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,T20I # 1823
4,Namibia vs Sri Lanka,Namibia,5,Gerhard Erasmus (c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,T20I # 1823
5,Namibia vs Sri Lanka,Namibia,6,Jan Frylinck,run out (Gunathilaka/†Mendis),44,28,4,0,157.14,T20I # 1823
6,Namibia vs Sri Lanka,Namibia,7,David Wiese,c †Mendis b Theekshana,0,1,0,0,0.00,T20I # 1823
7,Namibia vs Sri Lanka,Namibia,8,JJ Smit,not out,31,16,2,2,193.75,T20I # 1823
8,Namibia vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00,T20I # 1823
9,Namibia vs Sri Lanka,Sri Lanka,2,Kusal Mendis †,c †Green b Wiese,6,6,0,0,100.00,T20I # 1823
10,Namibia vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,c Shikongo b Frylinck,12,11,1,0,109.09,T20I # 1823
11,Namibia vs Sri Lanka,Sri Lanka,4,Danushka Gunathilaka,c †Green b Shikongo,0,1,0,0,0.00,T20I # 1823
12,Namibia vs Sri Lanka,Sri Lanka,5,Bhanuka Rajapaksa,c la Cock b Scholtz,20,21,2,0,95.23,T20I # 1823
13,Namibia vs Sri Lanka,Sri Lanka,6,Dasun Shanaka (c),c †Green b Frylinck,29,23,2,1,126.08,T20I # 1823
14,Namibia vs Sri Lanka,Sri Lanka,7,Wanindu Hasaranga de Silva,c Loftie-Eaton b Scholtz,4,8,0,0,50.00,T20I # 1823

In [85]:
bat_df["Dismissal"] = bat_df["Dismissal"].apply(lambda x: 'out' if x.strip() !="not out" else x.strip())

In [86]:
bat_df[bat_df["SR"]=="-"]

,Match,Team_Innings,Batting_Pos,Batsman,Dismissal,Runs,Balls,4s,6s,SR,Match_Id
16,Namibia vs Sri Lanka,Sri Lanka,9,Pramod Madushan,out,0,0,0,0,-,T20I # 1823
27,United Arab Emirates vs Netherlands,United Arab Emirates,9,Karthik Meiyappan,not out,0,0,0,0,-,T20I # 1825
160,Sri Lanka vs Netherlands,Netherlands,10,Paul van Meekeren,out,0,0,0,0,-,T20I # 1835
281,Bangladesh vs Netherlands,Netherlands,5,Tom Cooper,out,0,0,0,0,-,T20I # 1843
484,Afghanistan vs Sri Lanka,Sri Lanka,6,Dasun Shanaka (c),not out,0,0,0,0,-,T20I # 1856
593,Australia vs Afghanistan,Afghanistan,9,Naveen-ul-Haq,not out,0,0,0,0,-,T20I # 1864
602,Sri Lanka vs England,Sri Lanka,9,Maheesh Theekshana,not out,0,0,0,0,-,T20I # 1867
643,Bangladesh vs Pakistan,Pakistan,7,Shadab Khan,not out,0,0,0,0,-,T20I # 1872
650,India vs Zimbabwe,India,7,Axar Patel,not out,0,0,0,0,-,T20I # 1873
672,New Zealand vs Pakistan,Pakistan,5,Iftikhar Ahmed,not out,0,0,0,0,-,T20I # 1877
679,India vs England,India,7,Ravichandran Ashwin,not out,0,0,0,0,-,T20I # 1878

In [87]:
bat_df["SR"] = bat_df["SR"].apply(lambda x: 0 if x.strip() == "-" else x)

In [88]:
bat_df[bat_df["SR"]=="-"] # All removed

Empty DataFrame
Columns: [Match, Team_Innings, Batting_Pos, Batsman, Dismissal, Runs, Balls, 4s, 6s, SR, Match_Id]
Index: []

In [89]:
bat_df["SR"] = bat_df["SR"].astype(float)

In [90]:
bat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Match         699 non-null    object
 1   Team_Innings  699 non-null    object
 2   Batting_Pos   699 non-null    int64
 3   Batsman       699 non-null    object
 4   Dismissal     699 non-null    object
 5   Runs          699 non-null    int64
 6   Balls         699 non-null    int64
 7   4s            699 non-null    int64
 8   6s            699 non-null    int64
 9   SR            699 non-null    float64
 10  Match_Id      699 non-null    object
dtypes: float64(1), int64(5), object(5)
memory usage: 60.2+ KB

In [91]:
bat_df.to_csv("final_bat_data.csv", index=None)

#### Bowling Data

In [92]:
bowl_df = pd.read_csv("t20_bowl_fact_summary.csv")

In [93]:
bowl_df["Match_Id"] = bowl_df["Match"].map(match_ids)

In [95]:
bowl_df

,Match,Bowling_Team,bowler,overs,maidens,runs,wickets,economy,0s,4s,6s,WD,NB,Match_Id
0,Namibia vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4.0,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4.0,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,Namibia vs Sri Lanka,Sri Lanka,Pramod Madushan,4.0,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,Namibia vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4.0,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,Namibia vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4.0,0,27,1,6.75,8,1,1,0,0,T20I # 1823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Pakistan vs England,Pakistan,Naseem Shah,4.0,0,30,0,7.50,15,3,1,1,0,T20I # 1879
496,Pakistan vs England,Pakistan,Haris Rauf,4.0,0,23,2,5.75,13,3,0,1,0,T20I # 1879
497,Pakistan vs England,Pakistan,Shadab Khan,4.0,0,20,1,5.00,10,1,0,0,0,T20I # 1879
498,Pakistan vs England,Pakistan,Mohammad Wasim,4.0,0,38,1,9.50,5,5,0,2,0,T20I # 1879
499,Pakistan vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0,T20I # 1879

In [96]:
bowl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Match         500 non-null    object
 1   Bowling_Team  500 non-null    object
 2   bowler        500 non-null    object
 3   overs         500 non-null    float64
 4   maidens       500 non-null    int64
 5   runs          500 non-null    int64
 6   wickets       500 non-null    int64
 7   economy       500 non-null    float64
 8   0s            500 non-null    int64
 9   4s            500 non-null    int64
 10  6s            500 non-null    int64
 11  WD            500 non-null    int64
 12  NB            500 non-null    int64
 13  Match_Id      500 non-null    object
dtypes: float64(2), int64(8), object(4)
memory usage: 54.8+ KB

In [98]:
bowl_df.to_csv("final_bowl_data.csv", index=None)